* {
  color: white;
  font-family: monospace;
}

body {
  background-color: #04284e;
  background-image:url("https://i.gifer.com/WG8P.gif");
}

h1 {
  font-weight: bold;
  font-size: 80px;
}

h2 {
  font-family: serif;
  font-size: 50px;
  color: #72bcd4;
}

p {
  font-size: 20px;
}

ul{
  font-size: 20px;
}

strong {
  color: #FFD700;
}
