* {
  color: white;
  font-family: monospace;
}

body {
  background-color: #04284e;
  background-image:url("images/sparkle.gif");
}

h1 {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-size: 50px;
  color: #72bcd4;
  text-align: center;
}

pre {
  font-size: 20px;
  border: 2px solid white;
  margin: 70px;
  outline-style; dotted;
}

p {
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
}

.big {
  line-height: 2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 61.5%;
}


ul{
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
}

strong {
  color: #FFD700;
}
